styles.css

header {
    position: fixed;
    top: 0px;
    left: 0px;
    width: 100%;
    padding: 10px 20px;
    box-sizing: border-box;
    border: 4px solid #000000;
}

#common {
    color: green;
    position: fixed;
    top: 100px;
    margin-left: 100px;
    width: 100%;
    padding: 10px 20px;
    font-size: 50pt;
    font-family: Impact;
}

#epic {
    color:purple;
    position: fixed;
    top: 100px;
    margin-left: 600px;
    width: 100%;
    padding: 10px 20px;
    font-size: 50pt;
    font-family: Impact;
}

#legendary {
    color: red;
    position: fixed;
    top: 100px;
    margin-left: 1000px;
    width: 100%;
    padding: 10px 20px;
    font-size: 50pt;
    font-family: Impact;
}

#greenBox {
    position: fixed;
    top: 300px;
    margin-left: 100px;
    width: 17%;
    padding: 10px 20px;

}

#purpleBox {
    position: fixed;
    top: 300px;
    margin-left: 550px;
    width: 17%;
    padding: 10px 20px;
}

#redBox {
    position: fixed;
    top: 300px;
    margin-left: 1025px;
    width: 17%;
    padding: 10px 20px;
}


#commonButton {
    position: fixed;
    top: 600px;
    margin-left: 135px;
    width: 15%;
    height: 10%;
    font-size: 25pt;
    font-family: sans-serif;
    color: white;
}
#epicButton {
    position: fixed;
    top: 600px;
    margin-left: 580px;
    width: 15%;
    height: 10%;
    font-size: 25pt;
    font-family: sans-serif;
    color: white;
}

#legendaryButton {
    position: fixed;
    top: 600px;
    margin-left: 1060px;
    width: 15%;
    height: 10%;
    font-size: 25pt;
    font-family: sans-serif;
    color: white;
}

#tooltip{
    top:600px;
    margin-left: 135px;
    position: fixed;
    cursor: pointer;
    /*border: 2px dotted;*/
    padding: 21px;
    font-size: 25px;
    font-weight: bold;
    font-family: sans-serif;
}
#hoverText{
    opacity: 0;
}
#tooltipText{
    position: absolute;
    Left: 50%;
    top: 0;
    transform: transLateX(-50%);
    background-color: #000;
    color: #fff;
    white-space: nowrap;
    padding: 10px 15px;
    border-radius: 7px;
    visibility: hidden;
    opacity: 0;
    transition: opacity 0.5s ease;
}
#tooltipText::before{
    content: "";
    position: absolute;
    Left: 50%;
    top: 100%;
    transform: translateX(-50%);
    border: 15px solid;
    border-color: #000 #0000 #0000 #0000;

}
#tooltip:hover #tooltipText{
    top: -130%;
    visibility: visible;
    opacity: 1;
}


#tooltip2{
    top:600px;
    margin-left: 580px;
    position: fixed;
    cursor: pointer;
    padding: 21px;
    font-size: 25px;
    font-weight: bold;
    font-family: sans-serif;
}
#hoverText2{
    opacity: 0;
}
#tooltipText2{
    position: absolute;
    Left: 50%;
    top: 0;
    transform: transLateX(-50%);
    background-color: #000;
    color: #fff;
    white-space: nowrap;
    padding: 10px 15px;
    border-radius: 7px;
    visibility: hidden;
    opacity: 0;
    transition: opacity 0.5s ease;
}
#tooltipText2::before{
    content: "";
    position: absolute;
    Left: 50%;
    top: 100%;
    transform: translateX(-50%);
    border: 15px solid;
    border-color: #000 #0000 #0000 #0000;

}
#tooltip2:hover #tooltipText2{
    top: -130%;
    visibility: visible;
    opacity: 1;
}

#tooltip3{
    top:600px;
    margin-left: 1060px;
    position: fixed;
    cursor: pointer;
    padding: 21px;
    font-size: 25px;
    font-weight: bold;
    font-family: sans-serif;
}
#hoverText3{
    opacity: 0;
}
#tooltipText3{
    position: absolute;
    Left: 50%;
    top: 0;
    transform: transLateX(-50%);
    background-color: #000;
    color: #fff;
    white-space: nowrap;
    padding: 10px 15px;
    border-radius: 7px;
    visibility: hidden;
    opacity: 0;
    transition: opacity 0.5s ease;
}
#tooltipText3::before{
    content: "";
    position: absolute;
    Left: 50%;
    top: 100%;
    transform: translateX(-50%);
    border: 15px solid;
    border-color: #000 #0000 #0000 #0000;

}
#tooltip3:hover #tooltipText3{
    top: -130%;
    visibility: visible;
    opacity: 1;
}